<h1> Menu for Taste of Japan </h1>

<div class="createdish">
  <% if session[:user_id] && current_user.role == 'Admin'%>
  <%= link_to "Create New Dish", new_menu_path %>
  <% end %>
</div>
<br>

<% @category_list.each do |category| %>
  <div id=<%= category.first.category %> class="menu_list">
    <h3><%= category.first.category %></h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% category.each do |d| %>
          <tr>
            <td><%= link_to d.name, d %></td>
            <td class='center_table'>$<%= number_with_precision(d.price, :precision => 2) %></td>
            <% if session[:user_id] %>
              <td class='center_table'><%= link_to "Add", {controller: 'carts', action: 'create', id: d.id}, method: 'post' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
<% end %>
