<h1><%= @dish.name %> Page.</h1>

<h2> Price: $<%= number_with_precision( @dish.price, :precision => 2) %></h2>
<h2> Category: <%= @dish.category %></h2>
<h2> Ingredients: </h2>

<br><br><br>
<% if session[:user_id] && User.find_by(id: session[:user_id]).role == "admin" %>
  <%= button_to "Edit this Dish", edit_menu_path, method: :get %>
  <%= form_tag @dish, method: "DELETE" do %>
    <%= submit_tag "Delete this Dish" %>
  <% end %>
<% end %>
