<h1><%= @dish.name %> Page.</h1>

<h2> Price: $<%= number_with_precision( @dish.price, :precision => 2) %></h2>
<h2> Category: <%= @dish.category %></h2>
<h2> Ingredients: </h2>

<%= link_to "Return to Menu", menus_path %>

<%= link_to "Edit Dish", edit_menu_path %>
<%= form_tag @dish, method: "DELETE" do %>
  <%= submit_tag "Delete this Dish" %>
<% end %>
