<h4>Search Phone Number</h4>

<%= form_tag("/users/#{current_user.id}", method: 'get') do %>
  <%= label_tag(:q, "Search by Phone Number:") %><br>
  <%= text_field_tag(:q) %>
  <%= submit_tag "Search" %>
<% end %>
<br>
<% if !@users.nil? %>
  <%= link_to @users.name, @users %>
  <%# @users.cart_total %>
  <%= render 'order_history' %>
<% else %>
  <% if params[:q] %>
    <h5>There is no match for this Phone Number</h5>
  <% end %>
<% end %>
