<h1> <%= User.find_by(id: session["user_id"]).name %></h1>

<div class="">
  <ul>
    <% @dishes.each do |dish| %>
        <li>
          <%= dish.menu.name %> - $<%= number_with_precision(dish.menu.price, :precision => 2) %>
          <%= button_to "Remove", {controller: 'carts', action: 'remove_item', id: dish.id} %>
        </li>

    <% end %>
  </ul>
</div>

<% if @total == 0 %>
  <h4> Your cart is currently empty! </h4>
<% else %>
  <h4> Your total is: $<%=  number_with_precision(@total, :precision => 2) %></h4>
<% end %>


<%= link_to "Back", user_path(session["user_id"]) %>
