<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantHelper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <% if session["user_id"] %>
        <%= link_to "Profile", user_path(session["user_id"]) %>
        <%= form_tag '/logout', id: "logout" do %>
          <%= submit_tag "Log Out" %>
        <% end %>
      <% else %>
        <%= button_to "Log In", login_path, method: :get, id: "login" %>
      <% end %>

      <%= link_to "Menu", menus_path %>
      <%= link_to "My Cart", carts_path %>
    </nav>
    <%= yield %>
  </body>
</html>
