<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantHelper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Menu", menus_path %>
      <% if current_user %>

        <% if !Cart.find_by(user_id: current_user.id).nil? && Cart.where('user_id = ? ', current_user.id).last.paid == false %>
          <%= link_to "My Cart", carts_path %>
        <% end %>

        <%= link_to "Profile", user_path(current_user) %>

        <%= form_tag '/logout', id: "logout" do %>
          <%= submit_tag "Log Out" %>
        <% end %>

        <% if current_user.role == "chef" %>
          <%= link_to "Cooking List", carts_index_path %>
        <% end %>

      <% else %>
        <%= button_to "Log In", login_path, method: :get, id: "login" %>
      <% end %>

    </nav>
    <%= yield %>
  </body>
</html>
