<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantHelper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="https://www.mimiholidays.com/sites/mimiholidays.com/files/styles/package_banner/public/packages_banner/Japan%20Cherry%20Blomssom%20banner.gif?itok=1gVi5BdO" alt="Cherry Blossoms." style="width:1000px;height:200px;">
    </header>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "Menu", menus_path %>
      <% if current_user %>

        <% if !Cart.find_by(user_id: current_user.id).nil? && Cart.where('user_id = ? ', current_user.id).last.paid == false %>
          <%= link_to "My Cart", carts_path %>
        <% end %>

        <div class="dropdown">
          <a class="dropbtn">Profile</a>
          <div class="dropdown-content">
            <a href="/users/<%= current_user.id %>">View Profile</a>
            <a href="/users/<%= current_user.id %>/edit">Edit Settings</a>
          </div>
        </div>

        <%= link_to "Log Out", {controller: 'sessions', action: 'destroy'}, method: 'post', id: "logout" %>

        <% if current_user.role == "Chef" %>
          <%= link_to "Cooking List", carts_index_path %>
        <% end %>

        <% if current_user.role == "Admin" %>
          <%= link_to "Analytics Page", analytics_path %>
        <% end %>


      <% else %>
        <%= link_to "Log In", login_path, id: "login", class: "button" %>
      <% end %>
    </nav>
    <div class="main">
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <footer>

    </footer>
  </body>
</html>
